<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ArticleDao">
    <resultMap id="actMap" type="Article">
        <id property="id" column="id"/>
        <result property="imgUrl" column="imgUrl"/>
        <result property="time" column="time"/>
        <result property="title" column="title"/>
        <result property="title_type" column="title_type"/>
        <result property="title_like" column="title_like"/>
        <result property="tilte_comment" column="title_comment"/>
        <result property="content" column="content"/>
        <result property="iconUrl" column="AVATAR_URL"/>
        <result property="name" column="nickname"/>
    </resultMap>
    <select id="select" resultMap="actMap">
        SELECT a.id,a.imgUrl,a.time,a.title,a.title_type,a.title_like,a.title_comment,a.content,ui.AVATAR_URL,u.nickname
        FROM article a
        JOIN userinfo ui
        ON ui.USER_ID = a.user_id
        JOIN users u
        ON u.id = ui.USER_ID
    </select>
</mapper>