<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.UserDao">
    <!--<resultMap id="userMap" type="User">

    </resultMap>-->
    <select id="getUserByName" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE username = #{username}
    </select>

    <select id="getUserByNickName" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE nickname = #{nickname}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        INSERT INTO users(username,password,nickname)
        VALUES (#{username},#{password},#{nickname})
    </insert>

    <resultMap id="userMap1" type="User">
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
    </resultMap>
    <select id="getUser"  parameterType="User" resultMap="userMap1">
        SELECT id,username,nickname
        FROM users
        WHERE username=#{username} and password=#{password}
    </select>

</mapper>